.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-fluid{
  border: 2px solid black;
  background-color: chartreuse;
  display:flex;
  /*height:100px;*/
  flex-direction: row;
  flex-wrap: wrap;
}

.box{
  background-color:white;
  width:100px;
  margin:10px;
  border-radius: 20px;
}

.box_one{
  text-align: center;
}

.box_two{
  background-color: yellow;
}

.box_three{
  background-color: yellow;
  flex-grow:0.4;
}

.box_four{
  background-color: yellow;
  font-weight: bold;
  margin-right:auto;
}

.box_five{
  background-color: yellow;
  font-weight: bold;
}

.box_six{
  background-color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
